<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c70cf1d8-50bd-486d-b921-b910ffb03a70/resourceGroups/bnlwe-da16-d-901632-rg/providers/Microsoft.ContainerRegistry/registries/bnlweda16d901632crn02</ResourceId>
    <ResourceName>bnlweda16d901632crn02</ResourceName>
    <ResourceGroup>bnlwe-da16-d-901632-rg</ResourceGroup>
    <Subscription>Core Data Ecosystem-16</Subscription>
    <RegistryUrl>https://bnlweda16d901632crn02.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9d5246a8-66af-4c5c-ba5b-f7b70badf5d6</ProjectGuid>
  </PropertyGroup>
</Project>